body{
    margin: 0;
    background-color: black;
}
header{
    background-color: skyblue;
    text-align: center;
}
header img{
    border-radius: 150px;
    width: 150px;
    border: 10px solid white;
}
h2{
    background-color: skyblue;
    color: #2079c7;
}
header h1{
    color: white;
        font-family: "Merriweather", serif;
        font-weight: 600;
        font-style: normal;
        ;
      }
h3{
    color: white;
    font-family: 'Courier New', Courier, monospace;
=======
    background-color: #d14635;
}
header{
    text-align: center;
    border: 10px solid;
>>>>>>> 633063cff9177abba45eef6af840b1850e2cef50
}